Cexupo/src/conf/xml-resources/web-service-references/VentasDaoServices/wsdl/localhost_8080/SoapDao/VentasDaoServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="VentasDaoServices">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SoapDao/VentasDaoServices?xsd=1"/>
</xsd:schema>
</types>
<message name="getVentasByUsu">
<part name="parameters" element="tns:getVentasByUsu"/>
</message>
<message name="getVentasByUsuResponse">
<part name="parameters" element="tns:getVentasByUsuResponse"/>
</message>
<message name="removeVenta">
<part name="parameters" element="tns:removeVenta"/>
</message>
<message name="removeVentaResponse">
<part name="parameters" element="tns:removeVentaResponse"/>
</message>
<message name="updateVenta">
<part name="parameters" element="tns:updateVenta"/>
</message>
<message name="updateVentaResponse">
<part name="parameters" element="tns:updateVentaResponse"/>
</message>
<message name="addVenta">
<part name="parameters" element="tns:addVenta"/>
</message>
<message name="addVentaResponse">
<part name="parameters" element="tns:addVentaResponse"/>
</message>
<message name="getVenta2">
<part name="parameters" element="tns:getVenta2"/>
</message>
<message name="getVenta2Response">
<part name="parameters" element="tns:getVenta2Response"/>
</message>
<message name="getVenta">
<part name="parameters" element="tns:getVenta"/>
</message>
<message name="getVentaResponse">
<part name="parameters" element="tns:getVentaResponse"/>
</message>
<portType name="VentasDaoServices">
<operation name="getVentasByUsu">
<input wsam:Action="http://servicios/VentasDaoServices/getVentasByUsuRequest" message="tns:getVentasByUsu"/>
<output wsam:Action="http://servicios/VentasDaoServices/getVentasByUsuResponse" message="tns:getVentasByUsuResponse"/>
</operation>
<operation name="removeVenta">
<input wsam:Action="http://servicios/VentasDaoServices/removeVentaRequest" message="tns:removeVenta"/>
<output wsam:Action="http://servicios/VentasDaoServices/removeVentaResponse" message="tns:removeVentaResponse"/>
</operation>
<operation name="updateVenta">
<input wsam:Action="http://servicios/VentasDaoServices/updateVentaRequest" message="tns:updateVenta"/>
<output wsam:Action="http://servicios/VentasDaoServices/updateVentaResponse" message="tns:updateVentaResponse"/>
</operation>
<operation name="addVenta">
<input wsam:Action="http://servicios/VentasDaoServices/addVentaRequest" message="tns:addVenta"/>
<output wsam:Action="http://servicios/VentasDaoServices/addVentaResponse" message="tns:addVentaResponse"/>
</operation>
<operation name="getVenta2">
<input wsam:Action="http://servicios/VentasDaoServices/getVenta2Request" message="tns:getVenta2"/>
<output wsam:Action="http://servicios/VentasDaoServices/getVenta2Response" message="tns:getVenta2Response"/>
</operation>
<operation name="getVenta">
<input wsam:Action="http://servicios/VentasDaoServices/getVentaRequest" message="tns:getVenta"/>
<output wsam:Action="http://servicios/VentasDaoServices/getVentaResponse" message="tns:getVentaResponse"/>
</operation>
</portType>
<binding name="VentasDaoServicesPortBinding" type="tns:VentasDaoServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVentasByUsu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVenta2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VentasDaoServices">
<port name="VentasDaoServicesPort" binding="tns:VentasDaoServicesPortBinding">
<soap:address location="http://localhost:8080/SoapDao/VentasDaoServices"/>
</port>
</service>
</definitions>