Cexupo/src/conf/xml-resources/web-service-references/ProductoDaoService/wsdl/localhost_8080/SoapDao/ProductoDaoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="addProducto" type="tns:addProducto"/>

<xs:element name="addProductoResponse" type="tns:addProductoResponse"/>

<xs:element name="getAllProductos" type="tns:getAllProductos"/>

<xs:element name="getAllProductosPublicados" type="tns:getAllProductosPublicados"/>

<xs:element name="getAllProductosPublicadosResponse" type="tns:getAllProductosPublicadosResponse"/>

<xs:element name="getAllProductosResponse" type="tns:getAllProductosResponse"/>

<xs:element name="getAllProductosVendidos" type="tns:getAllProductosVendidos"/>

<xs:element name="getAllProductosVendidosResponse" type="tns:getAllProductosVendidosResponse"/>

<xs:element name="getAllTarifas" type="tns:getAllTarifas"/>

<xs:element name="getAllTarifasResponse" type="tns:getAllTarifasResponse"/>

<xs:element name="getProducto" type="tns:getProducto"/>

<xs:element name="getProductoResponse" type="tns:getProductoResponse"/>

<xs:element name="removeProducto" type="tns:removeProducto"/>

<xs:element name="removeProductoResponse" type="tns:removeProductoResponse"/>

<xs:element name="updateProducto" type="tns:updateProducto"/>

<xs:element name="updateProductoResponse" type="tns:updateProductoResponse"/>

<xs:complexType name="addProducto">
<xs:sequence>
<xs:element name="p" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="hastag" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="vendido" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="productos" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeProducto">
<xs:sequence>
<xs:element name="p" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProductoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllProductosVendidos">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllProductosVendidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllTarifas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllTarifasResponse">
<xs:sequence>
<xs:element name="return" type="tns:tarifaenvio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tarifaenvio">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombreTarifa" type="xs:string" minOccurs="0"/>
<xs:element name="precioPeso" type="xs:float"/>
<xs:element name="precioSeguro" type="xs:float"/>
<xs:element name="precioVolumen" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllProductos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllProductosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllProductosPublicados">
<xs:sequence>
<xs:element name="idUser" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllProductosPublicadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProducto">
<xs:sequence>
<xs:element name="p" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProductoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getProducto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>