Cexupo/src/conf/xml-resources/web-service-references/ProductoDaoService/wsdl/localhost_8080/SoapDao/ProductoDaoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ProductoDaoService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SoapDao/ProductoDaoService?xsd=1"/>
</xsd:schema>
</types>
<message name="removeProducto">
<part name="parameters" element="tns:removeProducto"/>
</message>
<message name="removeProductoResponse">
<part name="parameters" element="tns:removeProductoResponse"/>
</message>
<message name="updateProducto">
<part name="parameters" element="tns:updateProducto"/>
</message>
<message name="updateProductoResponse">
<part name="parameters" element="tns:updateProductoResponse"/>
</message>
<message name="getAllProductos">
<part name="parameters" element="tns:getAllProductos"/>
</message>
<message name="getAllProductosResponse">
<part name="parameters" element="tns:getAllProductosResponse"/>
</message>
<message name="addProducto">
<part name="parameters" element="tns:addProducto"/>
</message>
<message name="addProductoResponse">
<part name="parameters" element="tns:addProductoResponse"/>
</message>
<message name="getAllTarifas">
<part name="parameters" element="tns:getAllTarifas"/>
</message>
<message name="getAllTarifasResponse">
<part name="parameters" element="tns:getAllTarifasResponse"/>
</message>
<message name="getAllProductosPublicados">
<part name="parameters" element="tns:getAllProductosPublicados"/>
</message>
<message name="getAllProductosPublicadosResponse">
<part name="parameters" element="tns:getAllProductosPublicadosResponse"/>
</message>
<message name="getAllProductosVendidos">
<part name="parameters" element="tns:getAllProductosVendidos"/>
</message>
<message name="getAllProductosVendidosResponse">
<part name="parameters" element="tns:getAllProductosVendidosResponse"/>
</message>
<message name="getProducto">
<part name="parameters" element="tns:getProducto"/>
</message>
<message name="getProductoResponse">
<part name="parameters" element="tns:getProductoResponse"/>
</message>
<portType name="ProductoDaoService">
<operation name="removeProducto">
<input wsam:Action="http://servicios/ProductoDaoService/removeProductoRequest" message="tns:removeProducto"/>
<output wsam:Action="http://servicios/ProductoDaoService/removeProductoResponse" message="tns:removeProductoResponse"/>
</operation>
<operation name="updateProducto">
<input wsam:Action="http://servicios/ProductoDaoService/updateProductoRequest" message="tns:updateProducto"/>
<output wsam:Action="http://servicios/ProductoDaoService/updateProductoResponse" message="tns:updateProductoResponse"/>
</operation>
<operation name="getAllProductos">
<input wsam:Action="http://servicios/ProductoDaoService/getAllProductosRequest" message="tns:getAllProductos"/>
<output wsam:Action="http://servicios/ProductoDaoService/getAllProductosResponse" message="tns:getAllProductosResponse"/>
</operation>
<operation name="addProducto">
<input wsam:Action="http://servicios/ProductoDaoService/addProductoRequest" message="tns:addProducto"/>
<output wsam:Action="http://servicios/ProductoDaoService/addProductoResponse" message="tns:addProductoResponse"/>
</operation>
<operation name="getAllTarifas">
<input wsam:Action="http://servicios/ProductoDaoService/getAllTarifasRequest" message="tns:getAllTarifas"/>
<output wsam:Action="http://servicios/ProductoDaoService/getAllTarifasResponse" message="tns:getAllTarifasResponse"/>
</operation>
<operation name="getAllProductosPublicados">
<input wsam:Action="http://servicios/ProductoDaoService/getAllProductosPublicadosRequest" message="tns:getAllProductosPublicados"/>
<output wsam:Action="http://servicios/ProductoDaoService/getAllProductosPublicadosResponse" message="tns:getAllProductosPublicadosResponse"/>
</operation>
<operation name="getAllProductosVendidos">
<input wsam:Action="http://servicios/ProductoDaoService/getAllProductosVendidosRequest" message="tns:getAllProductosVendidos"/>
<output wsam:Action="http://servicios/ProductoDaoService/getAllProductosVendidosResponse" message="tns:getAllProductosVendidosResponse"/>
</operation>
<operation name="getProducto">
<input wsam:Action="http://servicios/ProductoDaoService/getProductoRequest" message="tns:getProducto"/>
<output wsam:Action="http://servicios/ProductoDaoService/getProductoResponse" message="tns:getProductoResponse"/>
</operation>
</portType>
<binding name="ProductoDaoServicePortBinding" type="tns:ProductoDaoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllTarifas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProductosPublicados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProductosVendidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoDaoService">
<port name="ProductoDaoServicePort" binding="tns:ProductoDaoServicePortBinding">
<soap:address location="http://localhost:8080/SoapDao/ProductoDaoService"/>
</port>
</service>
</definitions>