Cexupo/src/conf/xml-resources/web-service-references/UsuarioDaoService/wsdl/localhost_8080/SoapDao/UsuarioDaoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="UsuarioDaoService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SoapDao/UsuarioDaoService?xsd=1"/>
</xsd:schema>
</types>
<message name="isRegistered">
<part name="parameters" element="tns:isRegistered"/>
</message>
<message name="isRegisteredResponse">
<part name="parameters" element="tns:isRegisteredResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="userExiste">
<part name="parameters" element="tns:userExiste"/>
</message>
<message name="userExisteResponse">
<part name="parameters" element="tns:userExisteResponse"/>
</message>
<message name="removeDireccion">
<part name="parameters" element="tns:removeDireccion"/>
</message>
<message name="removeDireccionResponse">
<part name="parameters" element="tns:removeDireccionResponse"/>
</message>
<message name="createDireccion">
<part name="parameters" element="tns:createDireccion"/>
</message>
<message name="createDireccionResponse">
<part name="parameters" element="tns:createDireccionResponse"/>
</message>
<message name="createMetodoPago">
<part name="parameters" element="tns:createMetodoPago"/>
</message>
<message name="createMetodoPagoResponse">
<part name="parameters" element="tns:createMetodoPagoResponse"/>
</message>
<message name="updateMetodoPago">
<part name="parameters" element="tns:updateMetodoPago"/>
</message>
<message name="updateMetodoPagoResponse">
<part name="parameters" element="tns:updateMetodoPagoResponse"/>
</message>
<message name="removeMetodoPago">
<part name="parameters" element="tns:removeMetodoPago"/>
</message>
<message name="removeMetodoPagoResponse">
<part name="parameters" element="tns:removeMetodoPagoResponse"/>
</message>
<message name="updateDireccion">
<part name="parameters" element="tns:updateDireccion"/>
</message>
<message name="updateDireccionResponse">
<part name="parameters" element="tns:updateDireccionResponse"/>
</message>
<message name="getMetPago">
<part name="parameters" element="tns:getMetPago"/>
</message>
<message name="getMetPagoResponse">
<part name="parameters" element="tns:getMetPagoResponse"/>
</message>
<message name="getAllUserDirections">
<part name="parameters" element="tns:getAllUserDirections"/>
</message>
<message name="getAllUserDirectionsResponse">
<part name="parameters" element="tns:getAllUserDirectionsResponse"/>
</message>
<message name="getAllUserPayMethods">
<part name="parameters" element="tns:getAllUserPayMethods"/>
</message>
<message name="getAllUserPayMethodsResponse">
<part name="parameters" element="tns:getAllUserPayMethodsResponse"/>
</message>
<message name="getDireccion">
<part name="parameters" element="tns:getDireccion"/>
</message>
<message name="getDireccionResponse">
<part name="parameters" element="tns:getDireccionResponse"/>
</message>
<portType name="UsuarioDaoService">
<operation name="isRegistered">
<input wsam:Action="http://servicios/UsuarioDaoService/isRegisteredRequest" message="tns:isRegistered"/>
<output wsam:Action="http://servicios/UsuarioDaoService/isRegisteredResponse" message="tns:isRegisteredResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://servicios/UsuarioDaoService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://servicios/UsuarioDaoService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://servicios/UsuarioDaoService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://servicios/UsuarioDaoService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://servicios/UsuarioDaoService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://servicios/UsuarioDaoService/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="userExiste">
<input wsam:Action="http://servicios/UsuarioDaoService/userExisteRequest" message="tns:userExiste"/>
<output wsam:Action="http://servicios/UsuarioDaoService/userExisteResponse" message="tns:userExisteResponse"/>
</operation>
<operation name="removeDireccion">
<input wsam:Action="http://servicios/UsuarioDaoService/removeDireccionRequest" message="tns:removeDireccion"/>
<output wsam:Action="http://servicios/UsuarioDaoService/removeDireccionResponse" message="tns:removeDireccionResponse"/>
</operation>
<operation name="createDireccion">
<input wsam:Action="http://servicios/UsuarioDaoService/createDireccionRequest" message="tns:createDireccion"/>
<output wsam:Action="http://servicios/UsuarioDaoService/createDireccionResponse" message="tns:createDireccionResponse"/>
</operation>
<operation name="createMetodoPago">
<input wsam:Action="http://servicios/UsuarioDaoService/createMetodoPagoRequest" message="tns:createMetodoPago"/>
<output wsam:Action="http://servicios/UsuarioDaoService/createMetodoPagoResponse" message="tns:createMetodoPagoResponse"/>
</operation>
<operation name="updateMetodoPago">
<input wsam:Action="http://servicios/UsuarioDaoService/updateMetodoPagoRequest" message="tns:updateMetodoPago"/>
<output wsam:Action="http://servicios/UsuarioDaoService/updateMetodoPagoResponse" message="tns:updateMetodoPagoResponse"/>
</operation>
<operation name="removeMetodoPago">
<input wsam:Action="http://servicios/UsuarioDaoService/removeMetodoPagoRequest" message="tns:removeMetodoPago"/>
<output wsam:Action="http://servicios/UsuarioDaoService/removeMetodoPagoResponse" message="tns:removeMetodoPagoResponse"/>
</operation>
<operation name="updateDireccion">
<input wsam:Action="http://servicios/UsuarioDaoService/updateDireccionRequest" message="tns:updateDireccion"/>
<output wsam:Action="http://servicios/UsuarioDaoService/updateDireccionResponse" message="tns:updateDireccionResponse"/>
</operation>
<operation name="getMetPago">
<input wsam:Action="http://servicios/UsuarioDaoService/getMetPagoRequest" message="tns:getMetPago"/>
<output wsam:Action="http://servicios/UsuarioDaoService/getMetPagoResponse" message="tns:getMetPagoResponse"/>
</operation>
<operation name="getAllUserDirections">
<input wsam:Action="http://servicios/UsuarioDaoService/getAllUserDirectionsRequest" message="tns:getAllUserDirections"/>
<output wsam:Action="http://servicios/UsuarioDaoService/getAllUserDirectionsResponse" message="tns:getAllUserDirectionsResponse"/>
</operation>
<operation name="getAllUserPayMethods">
<input wsam:Action="http://servicios/UsuarioDaoService/getAllUserPayMethodsRequest" message="tns:getAllUserPayMethods"/>
<output wsam:Action="http://servicios/UsuarioDaoService/getAllUserPayMethodsResponse" message="tns:getAllUserPayMethodsResponse"/>
</operation>
<operation name="getDireccion">
<input wsam:Action="http://servicios/UsuarioDaoService/getDireccionRequest" message="tns:getDireccion"/>
<output wsam:Action="http://servicios/UsuarioDaoService/getDireccionResponse" message="tns:getDireccionResponse"/>
</operation>
</portType>
<binding name="UsuarioDaoServicePortBinding" type="tns:UsuarioDaoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isRegistered">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userExiste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMetodoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMetodoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMetodoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMetPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserDirections">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUserPayMethods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioDaoService">
<port name="UsuarioDaoServicePort" binding="tns:UsuarioDaoServicePortBinding">
<soap:address location="http://localhost:8080/SoapDao/UsuarioDaoService"/>
</port>
</service>
</definitions>