Cexupo/src/conf/xml-resources/web-service-references/PuntuacionDaoService/wsdl/localhost_8080/SoapDao/PuntuacionDaoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="PuntuacionDaoService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SoapDao/PuntuacionDaoService?xsd=1"/>
</xsd:schema>
</types>
<message name="removePuntuacion">
<part name="parameters" element="tns:removePuntuacion"/>
</message>
<message name="removePuntuacionResponse">
<part name="parameters" element="tns:removePuntuacionResponse"/>
</message>
<message name="addPuntuacion">
<part name="parameters" element="tns:addPuntuacion"/>
</message>
<message name="addPuntuacionResponse">
<part name="parameters" element="tns:addPuntuacionResponse"/>
</message>
<message name="updatePuntuacion">
<part name="parameters" element="tns:updatePuntuacion"/>
</message>
<message name="updatePuntuacionResponse">
<part name="parameters" element="tns:updatePuntuacionResponse"/>
</message>
<message name="getPuntuacion">
<part name="parameters" element="tns:getPuntuacion"/>
</message>
<message name="getPuntuacionResponse">
<part name="parameters" element="tns:getPuntuacionResponse"/>
</message>
<portType name="PuntuacionDaoService">
<operation name="removePuntuacion">
<input wsam:Action="http://servicios/PuntuacionDaoService/removePuntuacionRequest" message="tns:removePuntuacion"/>
<output wsam:Action="http://servicios/PuntuacionDaoService/removePuntuacionResponse" message="tns:removePuntuacionResponse"/>
</operation>
<operation name="addPuntuacion">
<input wsam:Action="http://servicios/PuntuacionDaoService/addPuntuacionRequest" message="tns:addPuntuacion"/>
<output wsam:Action="http://servicios/PuntuacionDaoService/addPuntuacionResponse" message="tns:addPuntuacionResponse"/>
</operation>
<operation name="updatePuntuacion">
<input wsam:Action="http://servicios/PuntuacionDaoService/updatePuntuacionRequest" message="tns:updatePuntuacion"/>
<output wsam:Action="http://servicios/PuntuacionDaoService/updatePuntuacionResponse" message="tns:updatePuntuacionResponse"/>
</operation>
<operation name="getPuntuacion">
<input wsam:Action="http://servicios/PuntuacionDaoService/getPuntuacionRequest" message="tns:getPuntuacion"/>
<output wsam:Action="http://servicios/PuntuacionDaoService/getPuntuacionResponse" message="tns:getPuntuacionResponse"/>
</operation>
</portType>
<binding name="PuntuacionDaoServicePortBinding" type="tns:PuntuacionDaoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removePuntuacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPuntuacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePuntuacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPuntuacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PuntuacionDaoService">
<port name="PuntuacionDaoServicePort" binding="tns:PuntuacionDaoServicePortBinding">
<soap:address location="http://localhost:8080/SoapDao/PuntuacionDaoService"/>
</port>
</service>
</definitions>